.solution-section {
    padding: 64px 0;
    width: 100%;
    height: 602px;
    background-image: url("../../../../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
}

.solution-title-section {
}

.solution-badge {
    padding: 8px 46.5px;
    margin-bottom: 16px;
    border: 1px solid rgba(247, 95, 21, 1);
    box-shadow: 0px 33px 13px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 19px 11px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 99px;
}

.solution-badge-text {
    margin: 0;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: rgba(249, 112, 21, 1);
}

.solution-title {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 40px;
    vertical-align: middle;
    color: rgba(33, 36, 44, 1);
}

.solution-subtitle {
    margin: 0;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(103, 111, 126, 1);
}

.solution-info-section {
    margin-top: 64px;
    max-width: 100%;
    overflow-x: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
    .solution-info-section {
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .solution-section {
        border-radius: 0;
    }
}

@media (max-width: 1080px) {
    .solution-section {
        padding-left: 24px;
        padding-right: 24px;
    }
    .solution-section .card-content-wrapper {
        height: 100%;
    }

    .solution-title-section .solution-badge {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(247, 95, 21, 1);
    }

    .solution-title-section .card-content-wrapper .solution-badge-text {
        color: rgba(249, 112, 21, 1);
    }
}
