.our-benefits-section {
    width: 100%;
    margin-top: 74px;
    margin-bottom: 74px;
}

.our-benefits-section .our-benefits-title-section {
    margin-bottom: 64px;
    margin-bottom: 76px;
    max-width: 930px;
}

.our-benefits-section .our-benefits-title-section .our-benefits-badge {
    margin-bottom: 15px;
    padding: 6px 16px 6px 15px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(247, 95, 21, 1);
    border-radius: 99px;
}

.our-benefits-section
    .our-benefits-title-section
    .our-benefits-badge
    .benefits-badge-text {
    margin: 0;
    font-weight: 500;
    font-size: 13.67px;
    line-height: 16px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(27, 12, 37, 1);
}

.our-benefits-section .our-benefits-title-section .our-benefits-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 58.83px;
    line-height: 65px;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
}

.our-benefits-title-section .our-benefits-title .title-sub-text {
    color: rgba(249, 112, 21, 1);
}

.our-benefits-section .our-benefits-title-section .our-benefits-subtitle {
    margin: 0;
    width: 690px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    color: rgba(97, 97, 97, 1);
}

.benefits-showcase {
    width: 1240px;
    height: 566px;
}

.benefits-showcase .benefits-left-column,
.benefits-right-column {
}

.benefits-showcase .benefits-centre-section {
    background-image: url("../../../../assets/benefits-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 520px;
    height: 486px;
}

.benefits-showcase .benefits-card {
    max-width: 282px;
}
.benefits-showcase .benefits-icon-holder {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: linear-gradient(180deg, #ffffff 0%, #efe9f5 100%);
    box-shadow: 0px -1px 2px 0px rgba(156, 32, 218, 0.15) inset;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 1) inset;
    box-shadow: 0px 1px 8px 0px rgba(82, 44, 102, 0.1);
    margin-bottom: 12px;
}

.benefits-showcase .benefits-title {
    margin-bottom: 14.4px;
    font-weight: 500;
    font-size: 17.3px;
    line-height: 28px;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
}

.benefits-showcase .benefits-description {
    font-weight: 400;
    font-size: 15.5px;
    line-height: 26px;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
}

.actions-wrapper {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.get-started-handler {
    padding: 12.95px 51.22px 11.05px 51.41px;
    font-weight: 500;
    font-size: 15.38px;
    line-height: 26px;
    vertical-align: middle;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(27, 12, 37, 1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4) inset;
    backdrop-filter: blur(6px);
    color: rgba(255, 255, 255, 1);
}

.book-demo-handler {
    padding: 12.95px 51.22px 11.05px 51.41px;
    font-weight: 500;
    font-size: 15.38px;
    line-height: 26px;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 380px) {
    .our-benefits-section .benefits-centre-section {
        width: 292px;
        height: 279px;
    }
}

@media (max-width: 480px) {
    .actions-wrapper {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .our-benefits-section {
        padding: 24px;
    }

    .our-benefits-section .our-benefits-title-section .benefits-badge-text {
        font-size: 30px;
        line-height: 36px;
    }

    .our-benefits-section .our-benefits-title-section .our-benefits-subtitle {
        line-height: 24px;
        width: unset;
    }

    .our-benefits-section .benefits-centre-section {
        width: 342px;
        height: 319px;
    }
}

@media (max-width: 1080px) {
    .our-benefits-section .our-benefits-title-section .our-benefits-badge {
        background-color: rgba(249, 112, 21, 0.1);
        border: none;
    }

    .our-benefits-section
        .our-benefits-title-section
        .our-benefits-badge
        .benefits-badge-text {
        color: rgba(249, 112, 21, 1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .benefits-showcase {
        width: 80%;
    }
    .benefits-left-column,
    .benefits-right-column {
        flex-direction: row;
    }
}

@media (max-width: 1280px) {
    .benefits-showcase {
        flex-direction: column;
        height: auto;
        gap: 42px;
        width: unset;
    }
}
