.banner-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sol-txt {
  width: 202.5px;
  padding: 6px 20px;
  border-radius: 99px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sol-txt h6.txt {
  margin: 0;
  font-weight: 500;
  font-size: 13.67px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: rgba(27, 12, 37, 1);
}

.banner-info {
  width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}
.banner-info .banner-text {
  margin: 0 0 13px 0;
  padding: 9.6px 0;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1.15px;
  text-align: center;
  vertical-align: middle;
}

.banner-info .banner-text .banner-highlight {
  color: rgba(247, 95, 21, 1);
}

.banner-info .banner-sub-text {
  width: 667px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(118, 118, 118, 1);
}

.banner-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.banner-action-button {
  padding: 13px 12px;
  margin-right: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4) inset;
  backdrop-filter: blur(6px);
  border-radius: 8px;
  font-weight: 500;
  font-size: 15.88px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  width: 200px;
}

.action-button-dark {
  background-color: rgba(27, 12, 37, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(27, 12, 37, 1);
}

.action-button-light {
  background-color: rgba(255, 255, 255, 0.26);
  color: rgba(27, 12, 37, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.banner-overlay {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  height: 390px;
  border-width: 0.8px;
  border-style: solid;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-color: rgba(255, 255, 255, 0.8);
  padding: 48.6px 46px 0 45px;
  width: 1070px;
}

.banner-overlay .frame {
  height: 100%;
  background-image: url("../../../../assets/banner-overlay-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
