.challenge-section {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenge-section .challenge-cards {
    width: 1174px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 90px;
}

.challenge-badge {
    padding: 8px 16px;
    background-color: rgba(254, 242, 242, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 99px;
    margin-bottom: 16px;
}

.challenge-badge .badge-text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgba(220, 38, 38, 1);
}

.challenge-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: rgba(33, 36, 44, 1);
    margin: 0 0 16px 0;
}

.challenge-subtitle {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: rgba(103, 111, 126, 1);
    margin: 0 0 48px 0;
}
