.container {
    padding: 27px 23px 0 23px;
    height: 100%;
}

.banner {
    height: 990px;
    background-image: url("../../assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .banner {
        height: 1144px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container .banner {
        height: 1080px;
    }
}

@media (max-width: 769px) {
    .container {
        padding: 0;
    }

    .container .banner {
        border-radius: 0;
    }
}

/* @media (min-width: 400px) and (max-width: 480px) {
    .banner {
        height: 987px;
    }
}

@media (min-width: 481px) and (max-width: 491px) {
    .banner {
        height: 898px;
    }
}

@media (min-width: 492px) and (max-width: 538px) {
    .banner {
        height: 870px;
    }
}

@media (min-width: 539px) and (max-width: 768px) {
    .banner {
        height: 822px;
    }
} */
