.container {
  padding: 27px 23px 0 23px;
  height: 100%;
}

.banner {
  height: 990px;
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
}

.challenge-section {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-section .challenge-cards {
  width: 1174px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 90px;
}

.challenge-badge {
  padding: 8px 16px;
  background-color: rgba(254, 242, 242, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 99px;
  margin-bottom: 16px;
}

.challenge-badge .badge-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(220, 38, 38, 1);
}

.challenge-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: rgba(33, 36, 44, 1);
  margin: 0 0 16px 0;
}

.challenge-subtitle {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: rgba(103, 111, 126, 1);
  margin: 0 0 48px 0;
}

.solution-section {
  padding: 64px 0;
  width: 100%;
  height: 602px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.solution-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-badge {
  padding: 8px 46.5px;
  margin-bottom: 16px;
  border: 1px solid rgba(247, 95, 21, 1);
  box-shadow: 0px 33px 13px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 19px 11px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 99px;
}

.solution-badge-text {
  margin: 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(249, 112, 21, 1);
}

.solution-title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: rgba(33, 36, 44, 1);
}

.solution-subtitle {
  margin: 0;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: rgba(103, 111, 126, 1);
}

.solution-info-section {
  margin-top: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.our-team-section {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-section .our-team-titel-section {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-section .our-team-titel-section .our-team-badge {
  padding: 8px 16px;
  background-color: rgba(251, 245, 239, 1);
  border-radius: 99px;
  margin-bottom: 16px;
}

.our-team-section .our-team-titel-section .our-team-badge .team-badge-text {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(103, 111, 126, 1);
  margin: 0;
}

.our-team-section .our-team-titel-section .our-team-title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: rgba(33, 36, 44, 1);
}

.our-team-section .our-team-titel-section .our-team-subtitle {
  margin: 0;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: rgba(103, 111, 126, 1);
}

.our-team-section .team-companies {
  width: 100%;
  height: 50px;
  margin: 48px 0 28px 0;
  background-image: url("../../assets/team-companies.png");
  background-repeat: no-repeat;
  background-size: cover;
}
