.card-content-wrapper {
  padding: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(235, 230, 224, 1);
  border-radius: 20px;
  width: 270px;
  height: 237px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 24px -4px rgba(166, 120, 89, 0.1);
}

.card-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon .icon-holder {
  width: 20px;
  height: 20px;
}

.card-title {
  margin-bottom: 18px;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  vertical-align: middle;
  color: rgba(33, 36, 44, 1);
}

.card-description {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 22.75px;
  vertical-align: middle;
  color: rgba(103, 111, 126, 1);
}

.danger {
  background-color: rgba(254, 242, 242, 1);
}

.warning {
  background-color: rgba(254, 242, 242, 1);
}
