.carousel-wrapper {
    position: relative;
    width: 834px;
}

.carousel {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 634px;
    height: 285.2px;
    background-color: rgba(247, 246, 247, 1);
    border-radius: 16px;
    padding: 2.5rem;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(0px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.inactive {
    opacity: 0.35;
    /* filter: blur(0.4px); */
    height: 245.2px;
}

.card.active {
    opacity: 1;
}

.quote {
    margin-bottom: 1.5rem;

    font-weight: 500;
    font-size: 23.06px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author .author-info {
    display: flex;
    flex-direction: column;
}

.author span.author-name {
    font-weight: 500;
    font-size: 15.63px;
    line-height: 26px;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
}

.author span.author-sub-text {
    font-weight: 400;
    font-size: 15.25px;
    line-height: 26px;
    vertical-align: middle;
    color: rgba(27, 12, 37, 1);
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 999px;
    width: 36px;
    height: 36px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.nav.left {
    left: -18px;
}

.nav.right {
    right: -18px;
}
