.our-team-section {
    margin-top: 42px;
    margin-bottom: 28px;
}

.our-team-section .our-team-title-section {
    max-width: 720px;
}

.our-team-section .our-team-title-section .our-team-badge {
    padding: 8px 16px;
    background-color: rgba(251, 245, 239, 1);
    border-radius: 99px;
    margin-bottom: 16px;
}

.our-team-section .our-team-title-section .our-team-badge .team-badge-text {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: rgba(103, 111, 126, 1);
    margin: 0;
}

.our-team-section .our-team-title-section .our-team-title {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 40px;
    vertical-align: middle;
    color: rgba(33, 36, 44, 1);
}

.our-team-section .our-team-title-section .our-team-subtitle {
    margin: 0;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(103, 111, 126, 1);
}

.our-team-section .team-companies {
    width: 100%;
    height: 50px;
    margin: 48px 0 28px 0;
    background-image: url("../../../../assets/team-companies.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .our-team-section .our-team-title-section {
        padding: 24px;
    }
}
